<div id="<%= dom_id listing %>" class="card m-2">
  <%= image_tag listing.image_url,class:"card-img-top"  if listing.image_url.present?  %>
<div class="card-body">

  <h3><%= listing.title %>
  </h3>
  <p>
    <strong>About:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= listing.location %>
  </p>


  <% if landlord_signed_in? && current_landlord == listing.landlord %>
    <%= link_to "Manage this listing", listing %>
  <% end %>
</div>
</div>
