<p style="color: green"><%= notice %></p>

<h1>Listings</h1>

<%= form_tag '/listings', method: :get, class: "form-inline my-2 my-lg-0" do %>
  <div class="input-group  mb-2 mr-sm-2">
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </div>


<% end %>

<%= link_to 'Reset Search', listings_path, class: 'btn btn-primary' %>

<% if landlord_signed_in? %>
  <%= link_to "New listing", new_listing_path, class: 'btn btn-success' %>
<% end %>

<div id="listings">
  <% @listings.each do |listing| %>
    <%= render listing %>
    <p>

    </p>
    <hr />
  <% end %>
</div>
