<!DOCTYPE html>
<html>
  <head>
    <title>FI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div id="container">
    <div id="user_nav">
      <%= render 'shared/navbar' %>

      <% if tenant_signed_in? %>
        <h4>Tenant</h4>
        Logged in as Tenant <strong><%= current_tenant.email %></strong>.
        <%= link_to 'Edit profile', edit_tenant_registration_path %> |
        <%= button_to "Logout", destroy_tenant_session_path, method: :delete, class: 'btn btn-primary' %>
        <%= link_to 'View Listings', listings_path %>
      <% end %>

      <% if landlord_signed_in? %>
        <h4>Landlord</h4>
        Logged in as Landlord <strong><%= current_landlord.email %></strong>.
        | <%= link_to 'Edit profile', edit_landlord_registration_path %> |
        <%= button_to "Logout", destroy_landlord_session_path, method: :delete %>
        <%= link_to 'View Listings', listings_path %>
      <% end %>

      <% if !tenant_signed_in? && !landlord_signed_in? %>
        <%= link_to "Sign up As Tenant", new_tenant_registration_path, class: 'btn btn-primary' %> |
        <%= link_to "Login As Tenant", new_tenant_session_path, class: 'btn btn-secondary' %>
        <%= link_to "Sign up As Landlord", new_landlord_registration_path, class: 'btn btn-primary' %> |
        <%= link_to "Login As Landlord", new_landlord_session_path, class: 'btn btn-secondary' %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
